/* BELOW IS THE CODE FOR THE CSS OF THE REGISTER SYSTEM */

.subtitle {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.fields {
    color:#a50034;
}

/* Bordered form */
form {
    border: 3px solid #a50034;
    padding: 3px;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a50034;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #a50034;
    color: f7f7f7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  /* Add padding to containers */
  .container {
    /* width: 300px; */
    padding: 40px;
    margin: auto;
    width: 52%;
    /* border: 3px solid green; */
    /* padding: 10px; */
    
  }

.registerText {
    color:#a50034;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  

footer{
    text-align: center;
    color:#666;
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}