ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: #2c3e50;
}

li {
    float: left;
}

li a {
    display: block;
    color: #4b8bbe;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
    background-color: #f7f7f7;
}

header {
    text-align: center;
}

.title {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.leaderboardTitle {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 46px;
}


.instructions {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}


.credits {
    color: #a50034;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.subtitle {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

.loginSubtitle {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.registerSubtitle {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.description {
    color: #a50034;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.play {
    color: #f6b93b;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

.highlight {
    background-color: #a50034;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.link {
    margin: 30px;
    padding: 10px;
}

footer{
    text-align: center;
    color:#666;
    font-size: 14px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}